*{
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 70%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --fsT: rgba(223, 128, 202, 0.329);
    --l_yellow: #F4EDD4;
        --d_yellow: #EED899;
        --d_yellow: rgb(238, 216, 153);
        --l_pink: #FFB8C9;
        --d_pink: rgb(255, 165, 186);
        --white: #FFFFFF;


}
body{
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(to right, rgba(0, 0, 0, .5),rgba(0, 0, 0, .1)),url(bg.jpg); */
    /* background-position: center ; */
    /* background-repeat: no-repeat;
    background-size: cover;background-position: top;
    background-attachment: fixed; */
    background: var(--l_pink);
}
header{
    background-color: var(--d_pink);
    padding: 1rem 3%;
}
.logo span
{


    color: red;
}

.logo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 7000;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    /* background-color: aquamarine; */
    display: flex;   
    justify-content: space-between;
    padding: 1rem 1rem;
    
    
}
nav a{
    font-size: 1.8rem;
    margin-left: 8rem;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    display: block;
    transition: .5s ease-in-out;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--d_pink);

}
nav a:hover{
    /* background: var(--d_yellow); */
    color: var(--d_yellow);
    border-bottom: 1px solid var(--d_yellow);
    transform: scale(1.2);
}
.main-container{
    display: flex;   
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
.container-box{
    position: relative;
    display: flex;   
    justify-content: left;
    align-items: center;
    background: rgba(255, 255, 255,.5);
    /* margin-top: 6rem; */
    border-radius: 4rem;
    width: 100%;
    padding: 8rem 4rem 8rem 0;
         
}
.discount{
    text-align: center;
    color: red;
    font-size: 3rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8rem;
    width: 10rem;
    height: 10rem;
    padding: 1rem 2rem;
    /* border; */
    border: 1px solid var(--d_yellow);
    /* background: greenyellow; */
}
.low {
    background: var(--d_pink);
    top: 255px;
    right: 44px;
}
.up {
    background: var(--l_pink);
    top: 260px;
    right: 30px;
}
.container_layer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--d_yellow);
    width: 70%;
    border-radius: 4rem;
    /* color: #FFFFFF; */
    font-size: 1.6rem;
    
    
}

.offer{
    width: 70%;
    padding: 1rem 4rem;
    text-align: center;
    
    
}
.offer h1{
    
    color: red;
    font-size: 4rem;
}
.offer h3{
    margin-top: 2rem;
    line-height: 2;
}
.aside{
    width: 20%;
    background: var(--d_pink);
    text-align: center;
    /* padding: rem 9rem; */
    /* height: 80rem; */
    /* background: #000; */
    margin-right: 4rem;
    
}
.aside h4{
    width: ;
    font-size: 4rem;
    color: red;
    background: var(--l_yellow)

}
.aside p{
    background: var(--d_yellow);
    font-size: 1.6rem;
    line-height: 2;
    padding: 2rem;
    
}
.btn{
    background: var(--l_yellow);
    color: red;
    padding: 1rem 2rem;
    border-radius: 8rem;
    width: 20rem;
    font-size: 2rem;
    border: 1PX solid var(--d_pink);
    margin-top: 2rem;

}
footer{
    background: var(--d_pink);
    padding: 2rem 2rem;
    margin-top: 4rem;
    text-align: center;
    font-size: 1.6rem;
}